.sendForm {
    display: flex;
align-items: center;
}

.textarea {
    display: inline-block;
    /*all: unset;*/
    width: 976px;
    height: 40px!important;
    background-color: #F5F7FB;
    border-radius: 20px;
    box-shadow: 0px 1px 2px 0px rgba(29, 33, 38, 0.10), 0px 5px 20px 0px rgba(29, 33, 38, 0.03);

}

.button {
    border-radius: 20px;
    color: #FFFFFF;
    background: #06C;
    width: 120px;
    height: 40px;
    font-family: Montserrat, 'sans-serif';
    font-size: 16px;
    font-weight: 600;
}

.button:hover {

}
.button:active {

}
